.s-cda-header{

  nav{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: $l;
  }

  nav li {
    list-style: none; 
    margin: $s $s $s 0;
    font-size: $m;
  }

  & a.logo{
    font-weight: 100;
    text-decoration: none;
    display:block;
    border-bottom: solid 1px $dark;
    padding-bottom: $l;
  }

}
