.s-cda-header{

  nav{
    display: flex;
  }

  nav li {
    list-style: none; 
    margin: $m $m $xl 0;
  }

  & a.logo{
    font-weight: 100;
    text-decoration: none;
    display:block;
    border-bottom: solid 1px $dark;
    padding-bottom: $l;
  }

}
